@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* font-family: 'Merriweather', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Caveat', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px solid yellow; */
}


/* header start */
header{
    position: sticky;
    top: 0px;
    z-index: 9999;
    width: 100%;
    background-color: #06283D;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}
.navmenu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    right: 0;
    gap: 10px;
}
.headingnav{
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 30px;
    cursor: pointer;
}
.navitem{
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .navmenu .navitem .active{
    background-color: #0E185F;
}
.navbranding{
    font-size: 2rem;
}
.navbranding img{
    width: 220px;
}
.navlink{
    font-family: 'Noto Sans Display', sans-serif;
    transition: 0.5s ease;
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.navlink:hover{
    border: 1px solid aqua;
}
header nav .navmenu .navitem .active{
    font-family: 'Noto Sans Display', sans-serif;
    transition: 0.5s ease;
    background-color: #2FA4FF;
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
header nav .navmenu .navitem .active:hover{
    background-color: #00FFDD;
    color: black;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    color: transparent;
}
@media screen and (max-width:850px) {
    .dropbtn{
        width: 70%;
    }
    header nav .navmenu .navitem .active{
        width: 100%;
    }
    .navlink{
        width: 100%;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navmenu{
        position: fixed;
        left: -100%;
        top: 45px;
        gap: 0;
        flex-direction: column;
        margin-top: 3%;
        
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #022a42;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.6px);
        -webkit-backdrop-filter: blur(10.6px);
    }
    .navitem{
        margin: 16px 0;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .navmenu.active{
        left: 0;
    }
}
/* header end */

.halaman1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #06283D;
}

.halaman1 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10%;
}
.halaman1 .container1 .content1{
    color: white;
    transform: skew(-13deg);
}
.halaman1 .container1 .content1 h1{
    text-shadow: rgba(255,162,0,1) 0px 0px 35px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.halaman1 .container1 .content1 h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.halaman1 .container1 .img1{
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
.halaman1 .container1 .img1 img{
    width: 400px;
    border-radius: 10%;
    box-shadow: rgba(255,162,0,1) 0px 0px 50px;
    

    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}




@media screen and (max-width:768px) {
    .halaman1 .container1{
        flex-direction: column;
    }
    .halaman1 .container1 .img1 img{
        margin-top: 5%;
    }
    .halaman1{
        height: auto;
        padding-bottom: 50px;
        padding-top: 70px;
    }
}
@media screen and (max-width:576px){
    .halaman1 .container1 .img1 img{
        width: 250px;
        margin-top: 30px;
    }
    .halaman1 .container1 .content1 h1{
        font-size: 30px;
    }
    .halaman1 .container1 .content1 h2{
        font-size: 20px;
    }
}


.halaman2{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.halaman2 .heading2{
    margin-bottom: 30px;
}
.halaman2 .container2{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    

    background: rgba(19, 99, 223, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(19, 99, 223, 0.2);
}
.halaman2 .container2 .content2{
    width: 100%;
}
.halaman2 .container2 .img2{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06283D;
    padding-left: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
.halaman2 .container2 .img2 img{
    width: 200px;
    
}
.halaman2 .container2 .content2 h1{
    text-align: center;
}
.halaman2 .container2 .content2 p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.halaman3{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #06283D;

    color: white;
    overflow: hidden;
}
.halaman3 .judulhal3{
    margin-bottom: 40px;
}
.halaman3 .container3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 7%;
}
.halaman3 .container3 .img3 img{
    width: 550px;
    border-radius: 10px;
}
.halaman3 .container3 .content3{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}
.halaman3 .container3 .content3 h1{
    margin-top: 30px;
    padding-left: 5px;
    border-left: 6px solid #06b800;
}
.halaman3 .container3 .content3 p{
    margin-top: 30px;
    
}
.halaman3 .container3 .content3 a{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #08fc00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    border-radius: 3px;
}
.halaman3 .container3 .content3 a:hover{
    background-color: #06b800;
}
@media screen and (max-width:768px){
    .halaman3 .container3{
        flex-direction: column;
    }
    .halaman3 .container3 .img3 img{
        width: 300px;
    }
    .halaman3{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .halaman3 .container3 .content3{
        width: 90%;
    }
}

.halaman4{
    width: 100%;
    height: 90vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #1363DF;
    color: white;
    overflow: hidden;
}
.halaman4 .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 7%;
}
.halaman4 .container4 .content4{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.halaman4 .container4 .content4 h1{
    margin-top: 30px;
    padding-left: 5px;
    border-left: 6px solid #06b800;
}
.halaman4 .container4 .content4 p{
    margin-top: 30px;
}
.halaman4 .container4 .content4 h1{
    text-align: center;
}
.halaman4 .container4 .content4 a{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #08fc00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    border-radius: 3px;
}
.halaman4 .container4 .content4 a:hover{
    background-color: #06b800;
}
.halaman4 .container4 .content4 a{
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #08fc00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.halaman4 .container4 .img4 img{
    width: 550px;
    border-radius: 10px;
}
@media screen and (max-width:768px){
    .halaman4 .container4{
        flex-direction: column-reverse;
    }
    .halaman4 .container4 .img4 img{
        width: 300px;
    }
    .halaman4{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .halaman4 .container4 .content4{
        width: 90%;
    }
}


.halaman5{
    width: 100%;
    height: 90vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #47B5FF;
    overflow: hidden;
}
.halaman5 .container5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 7%;
}
.halaman5 .container5 .content5{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.halaman5 .container5 .content5 h1{
    margin-top: 30px;
    padding-left: 5px;
    border-left: 6px solid #06b800;
}
.halaman5 .container5 .content5 p{
    margin-top: 30px;
}
.halaman5 .container5 .content5 a{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    height: 35px;
    background-color: #08fc00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    border-radius: 3px;
}
.halaman5 .container5 .content5 a:hover{
    background-color: #06b800;
}
.halaman5 .container5 .img5 img{
    width: 400px;
    border-radius: 10px;
}
@media screen and (max-width:768px){
    .halaman5 .container5{
        flex-direction: column;
    }
    .halaman5 .container5 .img5 img{
        width: 200px;
    }
    .halaman5{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .halaman5 .container5 .content5{
        width: 90%;
    }
}



footer{
    width: 100%;
    height: 60vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #06283D;
}
footer .containerfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
footer .containerfooter .contentfooter{
    color: white;
}
footer .containerfooter .contentfooter h1{
    text-align: center;
}
footer .containerfooter .medsos{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .containerfooter .medsos a{
    margin: 2%;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    box-shadow: 13px 15px 25px 15px rgba(35, 255, 255, 0.1);
}
footer .containerfooter .medsos a:hover{
    background-color: none;
    border: 1px solid aqua;
    
}
@media screen and (max-width:768px){
    footer{
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    footer .containerfooter{
        width: 90%;
    }
}